.contact {
    padding: 0.5rem calc((100vw - 1000px)/2);
    background-color: #475A85;
    width: 100%;
    &__title {
        font-size: 2.5rem;
        color: #fff;
        text-align: center;
        margin: 70px auto 10px auto;
    }
    &__information {
        text-align: center;
        margin: 10px auto 40px auto;
        color: #fff;
        font-size: 1.2rem;
        border-bottom: #fff 2px solid;
        padding-bottom: 15px;
        width: 300px;
    }
    &__information::after {
        position: absolute;
        content: "";
        border-top: #FFF 20px solid;
        border-radius: 50%;
        width: 20px;
        margin-left: 10px;
        margin-top: 29px;
    }
    &__information::before {
        position: absolute;
        content: "";
        border-top: #FFF 20px solid;
        border-radius: 50%;
        width: 20px;
        margin-left: -30px;
        margin-top: 29px;
    }
    &__element {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 70px auto 50px auto;
    }
    @include tablet {
        &__element {
            display: flex;
            flex-direction: column;
        }
    }
    &__item--title {
        color: #fff;
        font-size: 1.5rem;
        margin-bottom: 20px;
        @include tablet {
            text-align: center;
        }
    }
    &__item--info {
        color: #fff;
        font-size: 1rem;
        @include tablet {
            text-align: center;
            font-size: 0.8rem;
        }
    }
    &__items {
        color: #fff;
        font-size: 1.2rem;
        margin: 20px auto 40px auto;
        @include tablet {
            font-size: 1rem;
        }
    }
    &__info {
        &--loc {
            display: flex;
            line-height: 30px;
            & i {
                margin-right: 20px;
                line-height: 30px;
                @include tablet {
                    margin: auto 10px auto 10px;
                }
            }
        }
        &--phone {
            display: flex;
            line-height: 30px;
            & i {
                margin-right: 20px;
                line-height: 30px;
                @include tablet {
                    margin: auto 10px auto 10px;
                }
            }
        }
        &--mail {
            display: flex;
            line-height: 30px;
            & i {
                margin-right: 20px;
                line-height: 30px;
                @include tablet {
                    margin: auto 10px auto 10px;
                }
            }
        }
    }
    &__icon i {
        color: #475A85;
        font-size: 20px;
        margin: auto 30px auto auto;
        background-color: #fff;
        width: 30px;
        text-align: center;
        line-height: 30px;
        border-radius: 50%;
    }
    @include tablet {
        &__icon {
            text-align: center;
        }
    }
    &__button {
        background-color: rgb(189, 70, 70);
        color: #fff;
        font-size: 1.2rem;
        margin-top: 25px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        padding: 15px 45px;
        @include tablet {
            display: flex;
            margin: 20px auto auto auto;
        }
    }
    &__button:hover {
        background-color: rgb(170, 60, 20);
        transition: 0.5s ease-in-out;
        transform: scale(1.05);
    }
}

.inputwrapper {
    display: inline;
    @include tablet {
        display: block;
        text-align: center;
    }
    & #name {
        border: none;
        width: 40%;
        line-height: 40px;
        margin: auto 10px 15px auto;
        padding-left: 10px;
        border-radius: 5px;
        @include tablet {
            width: 83%;
            margin-left: 10px;
            margin-bottom: 10px;
        }
    }
    & #email {
        width: 40%;
        padding-left: 10px;
        line-height: 40px;
        border: none;
        border-radius: 5px;
        @include tablet {
            width: 83%;
            margin-bottom: 10px;
        }
    }
    & #message {
        border: none;
        border-radius: 5px;
        width: 83%;
        padding: 10px 0 0 10px;
        height: 100px;
    }
    @include tablet {
        & #name {
            margin-top: 20px;
        }
    }
}