@import 'media-queries';
%align-center {
    display: flex;
    align-items: center;
}

.navbar {
    background-color: #000;
    display: flex;
    height: 80px;
    justify-content: space-between;
    padding: 0.5rem calc((100vw - 1200px)/2);
    z-index: 9999;
    width: 100%;
    position: sticky;
    top: 0;
    @include tablet {
        height: 55px;
    }
    &__logo {
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        font-size: 1.5rem;
        margin-left: 24px;
        @extend %align-center;
        &__bold {
            font-weight: bold
        }
    }
    &__menu {
        @extend %align-center;
        @include tablet {
            display: none;
            &.active {
                display: grid;
                grid-template-columns: auto;
                background: rgb(0, 0, 0);
                top: 100%;
                opacity: 1;
                transition: opacity 0.3s ease-in;
                z-index: 99;
                right: 0;
                font-size: 1rem;
                height: 300px;
                width: 150px;
                text-align: center;
                border-bottom-left-radius: 20px;
            }
        }
    }
    &__item {
        @extend %align-center;
        color: #fff;
        font-size: 1.1rem;
        padding: 0 1.4rem;
        & a {
            text-decoration: none;
            color: #fff;
        }
    }
    @include tablet {
        &__toggle {
            & .bar {
                width: 25px;
                height: 3px;
                margin: 5px auto;
                transition: all 0.5s ease-in-out;
                background: #fff;
                display: block;
                cursor: pointer;
            }
        }
        &__links {
            text-align: center;
            padding: 0.5rem;
            width: 100%;
            display: block;
        }
    }
}

@include tablet {
    #moblie--menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #moblie--menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #moblie--menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    #moblie--menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
}